
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color:#4F6F52; /*  background color*/
    color: #000000;           /*  text  color */
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2DBCB; /* top bar color */
    padding: 20px 30px;
  }
  
  
  .logo img {
    height: 50px;
    margin-right: 20px;
  }
  

  
  /* NAV */
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  nav ul li a {
    font-family: "ff-prater-block-web", sans-serif;
    font-weight: 800;
    font-size: large;
    font-style: normal;
    text-decoration: none;
    color: #3B3B3B;       /* text in nav */
    font-weight: bold;
  }
  nav ul li a:hover,
  nav ul li a.active {
    color: #4F6F52;    /* Hover color */
  }
  
  .title img{
    max-width: 20%; 
    height: auto; 
    display: block; 
    margin: auto; 
    object-fit: contain; /* Prevents squishing */
  }



  /* MAIN PAGE */

  .home-main {
    text-align: center;
    padding: 60px 20px;
  }


  .maingraphic img {
    text-align: center;
    padding: 60px 20px;
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    object-fit: contain; 
}


  
  /* BUTTONS ON MAIN PAGE */
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 100px; 
  }

  .top-button {
    text-align: center;
}

.bottom-buttons {
    display: flex;
    gap: 20px;
}

.btn img {
    width: 400px;
    height: auto;
}

  .btn {
    display: inline-block;
    padding: 15px 20px;
  }

  .btn:hover {
    background-color: #E2DBCB; /*  hover effect */
  }
  
/* ABOUT & HISTORY TEXT BOX  */

  .content-box {
    max-width: 1000px;
    background-color: #E2DBCB; /* box color */
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }

   .content-box p {
    font-family: "jaf-bernina-sans-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;   

    text-align: left ;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  } 
  
/* ABOUT PAGE  */
  .welcome-image {
    display: block;
    max-width: 40%;
    height: auto;
    margin: 0 auto; 
    padding-top: 0px; 
    padding-bottom: 0px; 
}

 /* HISTORY PAGE  */

.school-image{
  display: block;
    max-width: 25%;
    height: auto;
    margin: 0 auto; 
    padding-top: 10px; 
    padding-bottom: 0px; 
}

.marth-image{
  float: right; 
  max-width: 250px;
  height: auto; 
  margin: 0 15px 10px 80px; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.williamstokoe-image {
  float: right; 
  max-width: 125px; 
  height: auto; 
  margin: 0 20px 20px 20px; 
  padding-top: 10px;
  padding-bottom: 10px;
}




  /* BASIC ASL PAGE  */
  .asl-alphabet {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .asl-alphabet img {
    max-width: 70%;
    width: 400;
    height: 100;
    
  }
  




  